.tabs{
    display: flex;
    margin-bottom: 20px;
    margin-top: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;

    &__item{
        margin-right:30px;
        font-weight: 600;
        cursor: pointer;

        &:hover{
            background-color: rgb(96,96,247);
            color: #fff;
        }
    }
}
